   <!-- Navigation -->
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html#page-top">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="index.html#page-top">Home</a>
                </li>
                {% for item in site.data.navigation %}
                    <!-- Assign active if the page URL matches the link URL for this item or one of its children -->
                    {% assign is_active = false %}
                    {% if page.url == item.url %}
                        {% assign is_active = true %}
                    {% endif %}
                    {% if item.children %}
                        {% for child in item.children %}
                        {% if page.url == child.url %}
                            {% assign is_active = true %}
                        {% endif %}
                        {% endfor %}
                    {% endif %}

                    <li class="page-scroll{% if is_active %} active{% endif %}">
                        <a href="{{ item.url }}" class="{% if item.children %}nav-sub-menu-top-level{% endif %}">
                        {{ item.title }}
                        </a>

                        {% if item.children %}
                        <ul class="nav-sub-menu">
                            {% for child in item.children %}
                            <li class="{% if page.url == child.url %}active{% endif %}">
                                <a href="{{ child.url }}" class="nav-sub-menu-link">{{ child.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>