---
---

// Overwrite variables.scss from Cayman theme

// Breakpoints
// $large-breakpoint: 64em !default;
// $medium-breakpoint: 42em !default;

// Headers
// $header-heading-color: #fff !default;
// $header-bg-color: #36726f !default;
// $header-bg-color-secondary: #36726f !default;

// Text - override section headings to brand teal
$section-headings-color: #36726f !default;
// $body-text-color: #606c71 !default;
// $body-link-color: #1e6bb8 !default;
// $blockquote-text-color: #819198 !default;

// // Code
// $code-bg-color: #f3f6fa !default;
// $code-text-color: #567482 !default;

// // Borders
// $border-color: #dce6f0 !default;
// $table-border-color: #e9ebec !default;
// $hr-border-color: #eff0f1 !default

// @import "bootstrap.min"

@import "{{ site.theme }}";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Signika:wght@700&display=swap');

// Typography
body, .main-content {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .project-tagline {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
}

// colors
// #36726fb2
// #36726fb5

// header/banner
header.page-header {
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 1em;
    justify-items: center;
}

h2.project-tagline {
    max-width: 95%;
}

img.logo {
    width: 350px;
}

// section headings
.main-content h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
}

.main-content h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    font-size: 1.5em;
}

// main content text
.main-content p, .main-content div, .main-content ul, .main-content ol {
    font-size: 1.3em;
}

// spacing between bullet point items
.main-content li {
    margin-bottom: 0.8em;
}

// spacing around the horizontal lines between sections
.main-content hr {
    margin: 2rem 2rem 0;
}

// all buttons
.btn {
    font-size: 1.3em;
}

// header button
.btn.header-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 95%;
}

// section buttons
.btn.section-btn {
    background-image: linear-gradient(90deg, #2e5f8b 0%, #36726f 100%);
    color: white;
    border-color: rgba(255,255,255,0.2)
}

.section-btn.btn:hover {
    color:rgba(255,255,255,0.8);
    text-decoration:none;
    background-image: linear-gradient(90deg, rgba(46, 95, 139, 0.8), rgba(54, 114, 111, 0.8));
    border-color: rgba(255,255,255,0.3)
}

.btn.section-btn img {
    vertical-align: middle;
    margin-right: 0.5em;
    width: 1em;
}

// acuity scheduling iframe container
div#acuity-schedule-container {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    margin-bottom: 1em;
    height: 0;
    overflow: hidden;
}

div#acuity-schedule-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

div#acuity-schedule-container > div#loading-indicator {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    font-size: 1.3em;
    text-align: center;
}

// nav style from freelancer
.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: white;
}

.navbar-brand {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

// this level of specificity is needed to override bootstrap
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #36726f29;
}

.navbar li, .navbar li a {
    border-radius: 10px;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

// custom changes to navbar

nav.navbar.navbar-default.navbar-fixed-top {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

div.navbar-header.page-scroll button, div.navbar-header.page-scroll span, div.navbar-header.page-scroll a {
    color: #36726f;
}

div.navbar-header.page-scroll button {
    background-color: #36726fb5 !important;
}

ul.nav.navbar-nav.navbar-right li a {
    color: #36726f;
}

// add nested nav items (sub items)
.collapse.navbar-collapse .nav-sub-menu {
  list-style: none;
}

// .menu a{
//   color: #fff;
//   text-decoration: none;
//   display: block;
//   cursor: pointer;
//   text-transform: uppercase;
//   font-size: 12px;
//   font-weight: 700;
//   letter-spacing:0.2em;
// }

// show nav sub items on hover
div.collapse.navbar-collapse > ul.nav > li.page-scroll:hover > ul.nav-sub-menu, div.collapse.navbar-collapse > ul.nav > li.page-scroll:active > ul.nav-sub-menu  {
  display: block;
}

// nav sub item list - mobile
div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu {
  position: absolute;
  top: 30px;
  left: 5px;
  background: white;
  min-width: 200px;
  z-index: 1000;
  display: none;
  padding-inline-start: 20px;
}

// nav sub menu items - mobile
div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu > li {
 margin: 20px 0px;
}

// nav sub menu a links
div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu > li > a {
  margin: 20px 0px;
  padding: 10px;
}

// images
img.asf-img {
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    width: 100%;
    max-width: 680px;
    border-radius: 8px;
}

img.asf-img.asf-img-small {
    max-width: 400px;
    width: 50%;
}

img.asf-img.asf-img-small.pull-right {
    margin: auto auto 0 1lh;
}

// float smaller image to left/right of text
img.asf-img.asf-img-small.pull-left {
    margin: auto 1lh 0 auto;
}

// multiple images next to each other and centered
img.asf-img.asf-img-small.asf-img-float-center {
    max-width: 400px;
    width: 50%;
    display: inline-block;
}

// img.asf-img.asf-img-float-center {
//     display: inline-block;
// }

p:has(img.asf-img.asf-img-float-center) {
    text-align: center;
}

// media queries go last to get precedence
@media screen and (min-width:64em) {
    .main-content {
        max-width: 80%;
    }
    h2.project-tagline {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .main-content h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.8em;
    }
    .main-content h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .main-content p, .main-content div, .main-content ul, .main-content ol {
        font-size: 2em;
    }
    .main-content li {
        margin-bottom: 0.8em;
    }
    .page-header {
        padding: 0rem 6rem;
    }
    div#acuity-schedule-container > div#loading-indicator {
        font-size: 1.2em;
    }
    div#acuity-schedule-container {
        padding-bottom: 100%;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        max-width: 90%;
        margin: auto;
    }
    h2.project-tagline {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .main-content h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.8em;
    }
    .main-content h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .main-content p, .main-content div, .main-content ul, .main-content ol {
        font-size: 2em;
    }
    .main-content li {
        margin-bottom: 0.8em;
    }
    .page-header {
        padding: 0rem 0rem;
    }
    div#acuity-schedule-container > div#loading-indicator {
        font-size: 1.2em;
    }
    div#acuity-schedule-container {
        padding-bottom: 150%;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        max-width: 95%;
    }
    h2.project-tagline {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .main-content h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 3em;
    }
    .main-content h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .main-content p, .main-content div, .main-content ul, .main-content ol {
        font-size: 2em;
    }
    .main-content li {
        margin-bottom: 0.8em;
    }
    .page-header {
        padding: 0rem 0rem;
    }
    div#acuity-schedule-container > div#loading-indicator {
        font-size: 1.2em;
    }
    div#acuity-schedule-container {
        padding-bottom: 150%;
    }
}

@media(max-width: 992px) {
    ul.nav.navbar-nav.navbar-right li a {
        font-size: 0.9em;
    }
}

// switch nav from toggle button (for narrow mobile screens/phone) to listing all nav items
// these override the mobile/collapsed nav settings and apply to larger screens
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    header.page-header {
        margin-top: 80px;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 1.7em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu > li > a {
        margin: 20px 0px;
        padding: 10px;
    }

    div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu {
        position: absolute;
        top: 60px;
        left: 5px;
        background: white;
        min-width: 200px;
        z-index: 1000;
        display: none;
        padding-inline-start: 10px;
    }

    img.logo {
        width: 400px;
    }
}

// when screen gets small enough, the multiple small images that are floating centered next to each other should be stacked and wider
@media(max-width: 1174px) {
    img.asf-img.asf-img-small.asf-img-float-center {
        margin-left: auto;
        margin-right: auto;
        justify-self: center;
        width: 100%;
        max-width: 80%;
    }
}

// when screen gets small enough, the small images that are pulled left/right should take up the full width
@media(max-width: 550px) {
    img.asf-img.asf-img-small.pull-right, img.asf-img.asf-img-small.pull-left {
        margin-left: auto;
        margin-right: auto;
        justify-self: center;
        width: 100%;
        max-width: 80%;
        float: unset !important;
    }
    // smaller table text on mobile so times + names fit on one line
    .main-content table th, .main-content table td {
        padding: 10px 6px;
        font-size: 0.75em;
        white-space: nowrap;
    }
    .main-content table td:first-child {
        font-size: 0.85em;
        width: 20%;
    }
    .main-content table td:last-child {
        line-height: 2;
        white-space: normal;
    }
    // more padding on testimonials for mobile
    .testimonial {
        padding: 1.5em 1.8em;
        margin: 1.5em 0.5em;
    }
    // center header tagline on mobile
    h2.project-tagline {
        text-align: center;
        width: 100%;
        padding: 0 1em;
    }
}

// table (for schedule)
.main-content {
    table {
        width: 90%;
        max-width: 800px;
        border: none;
        margin: 2em auto 3em;
        border-collapse: separate;
        border-spacing: 0;
        display: table;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }
    table th, table td {
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        padding: 18px 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8em;
    }
    table tr:last-child td {
        border-bottom: none;
    }
    table td:first-child {
        background: linear-gradient(90deg, #2e5f8b 0%, #36726f 100%);
        color: white;
        font-family: 'Signika', sans-serif;
        font-weight: 700;
        font-size: 2em;
        text-align: center;
        width: 30%;
    }
    table td:last-child {
        text-align: left;
        background-color: white;
        width: 70%;
        line-height: 1.8;
    }
    th {
        background: linear-gradient(90deg, #2e5f8b 0%, #36726f 100%);
        color: white;
        font-family: 'Signika', sans-serif;
    }
    table tr:nth-child(even) td:last-child {
        background-color: #f8faf9;
    }
    table tr:hover td:last-child {
        background-color: #e8f5e9;
    }
}

span.quote {
    font-style: italic;
    color: #818181
}

// testimonial styling with subtle teal background
.testimonial {
    background-color: rgba(54, 114, 111, 0.08);
    border-left: 4px solid #36726f;
    padding: 1.2em 1.5em;
    margin: 1.5em 0;
    border-radius: 0 8px 8px 0;
}

.testimonial p {
    margin: 0;
    font-style: italic;
}