---
---

// Overwrite variables.scss from Cayman theme

// Breakpoints
// $large-breakpoint: 64em !default;
// $medium-breakpoint: 42em !default;

// // Headers
// $header-heading-color: #fff !default;
// $header-bg-color: #159957 !default;
// $header-bg-color-secondary: #155799 !default;

// // Text
// $section-headings-color: #159957 !default;
// $body-text-color: #606c71 !default;
// $body-link-color: #1e6bb8 !default;
// $blockquote-text-color: #819198 !default;

// // Code
// $code-bg-color: #f3f6fa !default;
// $code-text-color: #567482 !default;

// // Borders
// $border-color: #dce6f0 !default;
// $table-border-color: #e9ebec !default;
// $hr-border-color: #eff0f1 !default

// @import "bootstrap.min"

@import "{{ site.theme }}";

// colors 
// #155997b2
// #15955bb5

// header/banner
header.page-header {
    padding: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 1em;
    justify-items: center;
}

h2.project-tagline {
    max-width: 95%;
}

img.logo {
    width: 350px;
}

// section headings
.main-content h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
}

.main-content h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    font-size: 1.5em;
}

// main content text
.main-content p, .main-content div, .main-content ul, .main-content ol {
    font-size: 1.3em;
}

// spacing between bullet point items
.main-content li {
    margin-bottom: 0.8em;
}

// spacing around the horizontal lines between sections
.main-content hr {
    margin: 2rem 2rem 0;
}

// all buttons
.btn {
    font-size: 1.3em;
}

// header button
.btn.header-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 95%;
}

// section buttons
.btn.section-btn {
    background-image: linear-gradient(120deg, #155997b2, #15955bb5);
    color: white;
    border-color: rgba(255,255,255,0.2)
}

.section-btn.btn:hover {
    color:rgba(255,255,255,0.8);
    text-decoration:none;
    background-image: linear-gradient(120deg, rgba(21, 89, 151, 0.6), rgba(21, 149, 91, 0.6));
    border-color: rgba(255,255,255,0.3)
}

.btn.section-btn img {
    vertical-align: middle;
    margin-right: 0.5em;
    width: 1em;
}

// acuity scheduling iframe container
div#acuity-schedule-container {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    margin-bottom: 1em;
    height: 0;
    overflow: hidden;
}

div#acuity-schedule-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

div#acuity-schedule-container > div#loading-indicator {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    font-size: 1.3em;
    text-align: center;
}

// nav style from freelancer
.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: white;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

// this level of specificity is needed to override bootstrap
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #15599729;
}

.navbar li, .navbar li a {
    border-radius: 10px;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

// custom changes to navbar

div.navbar-header.page-scroll button, div.navbar-header.page-scroll span, div.navbar-header.page-scroll a {
    color: #159957;
}

div.navbar-header.page-scroll button {
    background-color: #15955bb5 !important;
}

ul.nav.navbar-nav.navbar-right li a {
    color: #159957;
}

// add nested nav items (sub items)
.collapse.navbar-collapse .nav-sub-menu {
  list-style: none;
}

// .menu a{
//   color: #fff;
//   text-decoration: none;
//   display: block;
//   cursor: pointer;
//   text-transform: uppercase;
//   font-size: 12px;
//   font-weight: 700;
//   letter-spacing:0.2em;
// }

// show nav sub items on hover
div.collapse.navbar-collapse > ul.nav > li.page-scroll:hover > ul.nav-sub-menu, div.collapse.navbar-collapse > ul.nav > li.page-scroll:active > ul.nav-sub-menu  {
  display: block;
}

// nav sub item list - mobile
div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu {
  position: absolute;
  top: 30px;
  left: 5px;
  background: white;
  min-width: 200px;
  z-index: 1000;
  display: none;
  padding-inline-start: 20px;
}

// nav sub menu items - mobile
div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu > li {
 margin: 20px 0px;
}

// nav sub menu a links
div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu > li > a {
  margin: 20px 0px;
  padding: 10px;
}

// images
img.asf-img {
    justify-self: center;
    width: 100%;
    max-width: 680px;
}

img.asf-img.asf-img-small {
    justify-self: center;
    width: 100%;
}

img.asf-img.asf-img-small.pull-right {
    margin: auto auto 0 1lh;
}

// float smaller image to left/right of text
img.asf-img.asf-img-small.pull-left {
    margin: auto 1lh 0 auto;
}

img.asf-img.asf-img-float-center {
    display: inline-block;
}

// multiple images next to each other and centered
img.asf-img.asf-img-float-center {
    display: inline-block;
}

p:has(img.asf-img.asf-img-float-center) {
    text-align: center;
}

// media queries go last to get precedence
@media screen and (min-width:64em) {
    .main-content {
        max-width: 80%;
    }
    h2.project-tagline {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .main-content h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.8em;
    }
    .main-content h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .main-content p, .main-content div, .main-content ul, .main-content ol {
        font-size: 2em;
    }
    .main-content li {
        margin-bottom: 0.8em;
    }
    .page-header {
        padding: 0rem 6rem;
    }
    div#acuity-schedule-container > div#loading-indicator {
        font-size: 1.2em;
    }
    div#acuity-schedule-container {
        padding-bottom: 100%;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        max-width: 90%;
        margin: auto;
    }
    h2.project-tagline {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .main-content h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.8em;
    }
    .main-content h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .main-content p, .main-content div, .main-content ul, .main-content ol {
        font-size: 2em;
    }
    .main-content li {
        margin-bottom: 0.8em;
    }
    .page-header {
        padding: 0rem 0rem;
    }
    div#acuity-schedule-container > div#loading-indicator {
        font-size: 1.2em;
    }
    div#acuity-schedule-container {
        padding-bottom: 150%;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        max-width: 95%;
    }
    h2.project-tagline {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .main-content h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 3em;
    }
    .main-content h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2.5em;
    }
    .main-content p, .main-content div, .main-content ul, .main-content ol {
        font-size: 2em;
    }
    .main-content li {
        margin-bottom: 0.8em;
    }
    .page-header {
        padding: 0rem 0rem;
    }
    div#acuity-schedule-container > div#loading-indicator {
        font-size: 1.2em;
    }
    div#acuity-schedule-container {
        padding-bottom: 150%;
    }
}

@media(max-width: 992px) {
    ul.nav.navbar-nav.navbar-right li a {
        font-size: 0.9em;
    }
}

// switch nav from toggle button (for narrow mobile screens/phone) to listing all nav items
// these override the mobile/collapsed nav settings and apply to larger screens
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 10px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 1.7em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu > li > a {
        margin: 20px 0px;
        padding: 10px;
    }

    div.collapse.navbar-collapse > ul.nav > li.page-scroll > ul.nav-sub-menu {
        position: absolute;
        top: 60px;
        left: 5px;
        background: white;
        min-width: 200px;
        z-index: 1000;
        display: none;
        padding-inline-start: 10px;
    }

    img.logo {
        width: 400px;
    }
}

// small images side by side on wider screens
@media(min-width: 1173px) {
    img.asf-img.asf-img-small {
        max-width: 400px;
        width: 50%;
    }
}


// table (for schedule)
.main-content {
    table {
        width: 80%;
        border: none;
        margin: 0 auto;
        margin-bottom: 3em;
        border-collapse: collapse;
        display: table;
    }
    table th, table td {
        border: none;
        padding: 12px 15px;
        text-align: center;
        font-family: inherit;
        font-size: 2em;
        width: 50%;
    }
    th {
        background-color: #f2f2f2;
    }
    table tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
}

span.quote {
    font-style: italic;
    color: #818181
}